body  {
	    
		 color: black;
		 font-family: Times New Roman,Green, serif;
		 font-size: 12pt;
		 text-align: center;
		 
}
u1{display: inline-block;}

h1 {
      background-color: silver;
      color: white;
      font-weight: 400;
      font-style: italic;
      text-align: center;
}

p 	{
	
	     border: dashed 5px white;
		 padding: 17px;
		 margin: 5px;
		 border-style: groove;
		 border-width: 12px;
		 border-bottom-color: black;
		 border-left-color: aqua;
		 border-top-color: aqua;
		 border-radius: 10px;
	     border-right-color: aqua;
		 box-shadow: 0px 0px 10px black;
		 border-left-width: 10px;
		 
}


u1  {
	 
	 display: inline-block;
	 border: solid 1px black;
	 padding: 20px;
	 padding-bottom:;
	 margin: 5px;
	 border-style: groove;
	 border-width: 12px;
	 border-color: aqua;
	 border-bottom-color: black;
	 border-left-color: aqua;
	 border-top-color: aqua;
	 border-right-color: aqua;
	 border-radius: 10px;
	 text-align: right;
	 
}


.container {
	
	        margin-left: auto;
			margin-right: auto;
			
} 


.container2 {
	    
		     display:flex;
			 
} 
*{margin: 0;}
		  body{
		  background: url(images/purplemountaintreelake.jpg) no-repeat;
		  background-size:cover;
		  height:100vh;
		  background-position:left;
		  }
	  nav{
	      width:100%;
		  background-color:#00000020;
		  }
      nav  ul{
	       text-align:center;
		   }
	  nav  ul li{
           list-style:none;
           display: inline-block;
           }
       nav ul li a{
           display:block;
           text-decoration:none; 
           text-transform: uppercase;
           color:#ffffff;
           font-size: 20px; 
           font-family: 'Raleway', Sans-Serif;
		   letter-spacing: 2px;
		   font-weight:600;
		   padding: 25px;
            }
	  nav ul li a:hover{
	  background-color: #211b4385;
	  transition:all ease 2.5s;
	  }
header{
	position: absolute;
	top: 0px;
	left: 0px
}
	  



      